.th-header {
    position: relative;
    z-index: 41;
    .icon-btn {
        border-radius: 99px;
    }
    .menu-area {
        position: relative;
        z-index: 2;
    }
}

.sticky-wrapper {
    transition: 0.4s ease-in-out;
    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $white-color;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.07));
        animation: stickyAni 0.4s ease-in-out;
    }
}

@keyframes stickyAni {
    0% {
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }
    100% {
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}

.main-menu {
    a {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        font-family: $title-font;
        color: $title-color;

        &:hover {
            color: $theme-color;
        }
    }

    > ul {
        > li {
            margin: 0 19px;
            > a {
                padding: 37px 0;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &.menu-item-has-children {
                > a {
                    &:after {
                        content: "\f107";
                        display: inline-block;
                        position: relative;
                        font-family: $icon-font;
                        margin-left: 4px;
                        font-weight: 600;
                        top: 0;
                        font-size: 0.9em;
                        color: $title-color;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover {
                        &:after {
                            content: "\f106";
                            transform: rotate(180deg);
                            color: $theme-color;
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:hover {
                > ul.sub-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                    z-index: 9;
                }
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        min-width: 230px;
        width: max-content;
        padding: 7px;
        left: -14px;
        opacity: 0;
        z-index: -1;
        box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
        border-radius: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: all 0.4s ease 0s;

        a {
            font-size: 16px;
            line-height: 30px;
        }
    }

    ul.sub-menu {
        padding: 18px 20px 18px 18px;
        left: -27px;
        li {
            display: block;
            margin: 0 0;
            padding: 0px 9px;

            &.menu-item-has-children {
                > a {
                    &:after {
                        content: "\f105";
                        float: right;
                        top: 1px;
                        display: inline-block;
                    }
                    &:hover {
                        &:after {
                            content: "\f105";
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            a {
                position: relative;
                padding-left: 0;
                text-transform: capitalize;

                &:before {
                    content: "\f0c6";
                    position: absolute;
                    top: 6px;
                    left: 10px;
                    font-family: $icon-font;
                    width: 11px;
                    height: 11px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 1em;
                    line-height: 1;
                    color: $theme-color;
                    font-weight: 900;
                    opacity: 0;
                    visibility: visible;
                    transition: 0.3s ease-in-out;
                }
                &:hover {
                    padding-left: 23px;
                    &:before {
                        visibility: visible;
                        opacity: 1;
                        left: 0;
                    }
                }
            }

            ul.sub-menu {
                left: 100%;
                right: auto;
                top: 0;
                margin: 0 0;
                margin-left: 20px;

                li {
                    ul {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
    }
}
@media (max-width: 1500px) {
    .main-menu > ul > li {
        margin: 0 13px;
    }
}
.menu-style1 {
    > ul > li {
        margin: 0 14px;
        @include xl {
            margin: 0 10px;
        }
        > a {
            padding: 17px 0;
            color: $white-color;
            &:hover {
                color: $theme-color2;
            }
        }
    }
    ul li.menu-item-has-children > a:after {
        color: $white-color;
    }
}


.simple-icon {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    position: relative;
    &:has(.badge) {
        padding-right: 8px;
    }
    .badge {
        top: -8px;
        right: 0;
        font-size: 12px;
    }
}
.header-button {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    .th-btn {
        margin-left: 17px;
    }
    .icon-btn {
        .badge {
            font-size: 12px;
            top: 0;
            right: 0;
        }
        &:hover {
            .badge {
                background-color: $title-color;
            }
        }
    }
}

.social-links {
    .social-title {
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        margin: 0 10px 0 0;
        color: $body-color;
    }

    a {
        font-size: 16px;
        display: inline-block;
        color: $body-color;
        margin: 0 15px 0 0;

        &:last-child {
            margin-right: 0 !important;
        }

        &:hover {
            color: $theme-color;
        }
    }
}
.header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-links {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        font-family: $title-font;
        &:not(:last-child) {
            margin: 0 55px 0 0;
            &:after {
                content: '';
                height: 20px;
                width: 2px;
                background-color: #363739;
                position: absolute;
                top: 0px;
                right: -30px;
                margin-top: 3px;
            }
        }
        > i {
            margin-right: 11px;
            color: $theme-color;
        }
    }
    li,
    span,
    p,
    a {
        color: $body-color;
    }
    a:hover {
        color: $theme-color;
    }
    b,
    strong {
        font-weight: 600;
        margin-right: 6px;
    }
    .social-links a {
        font-size: 14px;
    }
}
.header-notice {
    margin: 0;
}
.header-top {
    padding: 11px 0;
    background-color: $title-color;
    --body-color: #fff;
    a {
        &:hover {
            color: $theme-color;
        }
    }
}
.dropdown-link {
    position: relative;
    > a {
        color: $body-color;
        i {
            color: $theme-color;
            margin-right: 5px;
        }
    }
}

.dropdown-toggle::after {
    content: "\f078";
    border: none;
    font-family: $icon-font;
    vertical-align: middle;
    font-weight: 400;
    margin-left: 6px;
    margin-top: -1px;
}
.dropdown-menu {
    width: fit-content;
    min-width: auto;
    top: calc(100% + 6px) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 8px 20px !important;
    text-align: center;
    border-color: $border-color;
    li {
        padding-right: 0;
        margin-right: 0;
        &:after {
            display: none;
        }
        a {
            display: block;
        }
    }
    a {
        color: $title-color !important;
        &:hover {
            color: $theme-color !important;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        width: 14px;
        height: 14px;
        margin-left: -7px;
        background-color: var(--white-color);
        z-index: -1;
        transform: rotate(45deg);
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}
.header-icons {
    display: flex;
    display: flex;
    gap: 15px;
    .icon-btn {
        font-size: 18px;
        .badge {
            font-size: 12px;
            top: 0;
            right: 0;
        }
        &:hover {
            .badge {
                background-color: $title-color;
            }
        }
    }
}
.header-search {
    position: relative;
    input {
        height: 46px;
        border: 1px solid $border-color;
        width: 500px;
        max-width: 100%;
        &:focus {
            border-color: $theme-color;
        }
        @include lg {
            max-width: 350px;
        }
    }
    button {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $theme-color;
        color: $white-color;
        width: 50px;
        height: 46px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 0 99px 99px 0;
    }
}

.menu-expand {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    background-color: $theme-color2;
    padding: 17px 25px;
    width: 100%;
    @include xl {
        font-size: 15px;
    }
    i {
        margin-right: 15px;
    }
    &:hover {
        color: $white-color;
    }
}
/* Header 1 ---------------------------------- */
.header-layout1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: $white-color;
    .header-top {
        .header-notice {
            padding-left: 388px;
        }
    }
    .menu-area {
        position: relative;
        z-index: 2;
        .main-menu {
            padding-left: 194px;
        }
    }
    .header-logo {
        position: relative;
        z-index: 2;
        margin-top: -50px;
    }
    .th-menu-toggle {
        margin-left: auto;
    }
    button {
        &:hover {
            color: $theme-color;
        }
    }
    .logo-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: calc(100% + 50px);
        z-index: 0;
        clip-path: polygon(0 0, 100% 0, calc(100% - 80px) 100%, 0% 100%);
        transition: 0.4s;
    }
    .sticky-wrapper.sticky .header-logo {
        margin-top: 0px;
    }
}
@include hd {
    .header-layout1 .logo-bg {
        width: 28%;
    }
}
@media (min-width: 1600px) {
    .header-layout1 {
        --main-container: 1720px;
    }
}
@media (max-width: 1700px) {
    .header-layout1 .logo-bg {
        width: 17%;
    }
    .header-layout1 .header-top .header-notice {
        padding-left: 338px;
    }
    .header-layout1 .menu-area .main-menu {
        padding-left: 144px;
    }
}
@include xxl {
    .header-layout1 .header-top .header-notice {
        padding-left: 0;
    }
    .header-layout1 .menu-area .main-menu {
        padding-left: 80px;
    }
    .header-layout1 .logo-bg {
        top: auto;
        bottom: 0;
        width: 23%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0% 100%);
    }
    .header-layout1 .header-logo {
        margin-top: 0;
    }
    .header-layout1 .sticky-wrapper.sticky .logo-bg {
        height: 100%;
    }
}
@include xl {
    .unittest-header {
        .main-menu {
            a {
                font-size: 15px;
            }
            > ul > li {
                margin: 0 11px;
            }
        }
    }
}
@include lg {
    .header-layout1 .logo-bg {
        width: 29%;
    }
    .hero-title {
        font-size: 56px;
    }
}
@include md {
    .header-logo {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
    }
    .header-top {
        padding: 12px 0;
    }
    .header-layout1 .logo-bg {
        width: 39%;
    }
}
@include sm {
    .header-layout1 .logo-bg {
        width: 49%;
    }
}
@include xs {
    .header-layout1 {
        .header-logo {
            h2 {
                font-size: 36px;
            }
            img {
                max-width: 160px;
            }
        }
    }
    .header-layout1 .logo-bg {
        width: 57%;
    }
}
@include vxs {
    .header-layout1 .logo-bg {
        width: 60%;
    }
}
@media (max-width: 360px) {
    .header-layout1 .logo-bg {
        width: 69%;
    }
}

/* Header default ---------------------------------- */
.header-default {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: $white-color;
    .menu-area {
        position: relative;
        z-index: 2;
    }
    .header-logo {
        position: relative;
        z-index: 2;
    }
    .th-menu-toggle {
        margin-left: auto;
    }
    button {
        &:hover {
            color: $theme-color;
        }
    }
    .logo-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 100%;
        z-index: 0;
        clip-path: polygon(0 0, 100% 0, calc(100% - 80px) 100%, 0% 100%);
        transition: 0.4s;
    }
    .sticky-wrapper.sticky .header-logo {
        margin-top: 0px;
    }
}
@include hd {
    .header-default .logo-bg {
        width: 28%;
    }
}
@media (min-width: 1600px) {
    .header-default {
        --main-container: 1720px;
    }
}
@media (max-width: 1700px) {
    .header-default .logo-bg {
        width: 17%;
    }
}
@include xxl {
    .header-default .logo-bg {
        top: auto;
        bottom: 0;
        width: 23%;
    }
    .header-default {
        .menu-area {
            .main-menu {
                margin-left: 50px;
            }
        }
    }
}
@include lg {
    .header-default .logo-bg {
        width: 29%;
    }
}
@include md {
    .header-logo {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
    }
    .header-top {
        padding: 12px 0;
    }
    .header-default .logo-bg {
        width: 39%;
    }
}
@include sm {
    .header-default .logo-bg {
        width: 49%;
    }
}
@include xs {
    .header-default {
        .header-logo {
            h2 {
                font-size: 36px;
            }
            img {
                max-width: 160px;
            }
        }
    }
    .header-default .logo-bg {
        width: 57%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 40px) 100%, 0% 100%);
    }
}
@include vxs {
    .header-default .logo-bg {
        width: 60%;
    }
}
@media (max-width: 360px) {
    .header-default .header-logo img {
        max-width: 130px;
    }
    .header-logo {
        padding-top: 20.5px;
        padding-bottom: 20.5px;
    }
    .header-logo img {
        max-width: 130px;
    }
    .th-menu-toggle {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}
/* Header 2 ---------------------------------- */
.header-layout2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: $white-color;
    .header-top {
        background: $theme-color;
        a:hover {
            color: $theme-color2;
        }
    }
    .dropdown-link > a i,
    .header-links li > i {
        color: $white-color;
    }
    .header-links li:not(:last-child):after {
        background: #B7B7B7;
    }
    .menu-area {
        position: relative;
        z-index: 2;
    }
    .th-menu-toggle {
        margin-left: auto;
    }
    .sticky-wrapper.sticky .header-logo {
        margin-top: 0px;
    }
}


/* Header 3 ---------------------------------- */


.header-layout3 {
    .menu-area {
        position: relative;
        z-index: 2;
        background-color: $theme-color;
    } 
    .header-top {
        --body-color: #54595F;
        background-color: #FBF8F5;
        border-bottom: 1px solid $border-color;
        .header-links li:not(:last-child):after {
            width: 1px;
            opacity: 0.45;
        }
    }
    .th-menu-toggle {
        background-color: $theme-color2;
        border-radius: 0;
        height: 60px;
        width: 60px;
    }
    .icon-btn {
        border: none;
        background-color: $smoke-color2;
        &:hover {
            background-color: $theme-color;
        }
    }
}